body {
  background-image:    url("is-this-a-pigeon-meme.jpeg");
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;   
  margin-bottom: 10px;
}

h1 {
  font-family:"impact", helvetica, sanserif;
  font-size: 60px;
  color: white;
  outline: black 2px;
  text-shadow: 2px 2px black ;
  position:absolute;
  bottom:10px;
  margin: 0px;
  left: 90px;
}

#yes-no {
   width: 50%;
  float:left;
 
}

video {
  width: 100%;
  height: auto;
}

button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 16px;
  font: "avenir", helvetica, sanserif;
  font-kerning: 2;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  margin-top: 20px;
  background-color: #984942;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px #594240;
  position: absolute;
  right: 0px;
  
}
  
button:hover {
  background-color: #AE524A;
}
  
button:active {
  background-color: #90433C;
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}

button:disabled {
  background-color: #636363;
  color: #CCCCCC;
}


.btn-predict--single {
  left: 0;
  margin-left: 40px;
  width: 40%;
  
}

.btn-predict--poll {
  right: 0;
  margin-right: 40px;
  width: 30%;

}
#buttons {
  height: 80px;
}
#recyclable-result-container {
  font-family:"impact", helvetica, sanserif;
  font-size: 60px;
  color: white;
  outline: black 2px;
  text-shadow: 2px 2px black ;
  width: 30%;
  text-align: right;
  position: absolute;
  bottom: 10px;
  right: 90px;
  float:right;
}

#main-container {
  position: absolute;
  right: 10px;
  width: 45%;
  padding: 10px 40px 85px 40px;
  box-sizing: border-box;
  background-image: url("scribble.png");
  background-size: 100%;
  background-repeat:   no-repeat;
  background-position: center center;  
}

#predictionInfoContainer {
  position: absolute;
  right: 0px;
  left: 0px;
  padding: 10px 40px 0px 0px;
  box-sizing: border-box;
  font-family: "avenir", helvetica, sanserif;
  color: white;
  transform: 40px;
  padding-left: 50px;
}

@media only screen and (min-width: 1340px) {
  #main-container {
    position: absolute;
    right: 30px;
    width: 30%;
    padding: 10px 40px 135px 40px ;
    box-sizing: border-box;
    background-image: url("scribble.png");
    background-size: 100%;
    background-repeat:   no-repeat;
    background-position: center center;  
  }
 
  #predictionInfoContainer {
    position: absolute;
    right: 00px;
    left: 0px;
    padding: 10px 40px ;
    box-sizing: border-box;
    color: white;
  }

}
@media only screen and (min-width: 900px) {
  h1 {
    font-size: 80px;   
  }

  #recyclable-result-container {
    font-size: 80px; 
  }
 
  #predictionInfoContainer {
    position: absolute;
    right: 00px;
    left: 0px;
    padding: 10px 40px ;
    box-sizing: border-box;
    color: white;
  } 
}


@media only screen and (max-width: 790px) {
  h1 {
    font-size: 40px;
    left: 10px;
    position: absolute;
    text-align: left;
    max-width: 40%;
  }
  #main-container {
    position: absolute;
    right: 10px;
    width: 40%;
    padding: 0px 10px 85px 10px ;
    box-sizing: border-box;
    background-image: url("scribble.png");
    background-size: 100%;
    background-repeat:   no-repeat;
    background-position: center center;  
  }

  video {
    width: 100%;
    height: auto;
  }

  button {
    display: inline-block;
    padding: 10px 5px;
    font-size: 8px;
    font-kerning: 1;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    margin-top: 5px ;
    color: #fff;
    background-color: #984942; /* shirt color */
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px #594240;
    position: absolute;
    right: 0px;
  }

.btn-predict--single {
  left: 0;
  margin-left: 10px;
  width: 40%;
  
}

.btn-predict--poll {
  right: 0;
  margin-right: 10px;
  width: 36%;

}
#buttons {
  height: 40px;
}
#recyclable-result-container {
  right: 40px
  }
 
  #predictionInfoContainer {
    position: absolute;
    padding: 5px 10px 0px 10px;
    box-sizing: border-box;
    color: white;
    font-size: 10px;
  }
}

@media only screen and (max-width: 750px) {
  #recyclable-result-container {
    right: 20px;
    font-size:20px;
  }
  h1 {
    font-size: 20px;
    left: 10px;
    position: absolute;
    text-align: left;
    max-width: 38%;
  }
}